.views-field-title {
  a {
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-400);
    color: var(--menu-primary);
    &:hover {
      color: var(--button-secondary);
    }
    &::before {
      content: "•";
      color: var(--menu-primary);
      margin-right: 8px;
      font-size: 16px;
    }
  }
}
