.breadcrumb-item {
  &.active {
    color: var(--button-secondary);
  }

  a {
    color: var(--default-color, #000);
    
    &:hover {
      color: var(--button-secondary); 
    }
    
    &:focus, &:active {
      color: var(--button-secondary); 
    }
  }
}
