.breadcrumb-item {

  font-size: 20px;

  &.active {
    color: var(--deep-pink);
  }

  a {
    color: var(--default-color, var(--black));
    
    &:hover {
      color: var(--deep-pink); 
    }
    
    &:focus, &:active {
      color: var(--deep-pink); 
    }
  }
}
