@import url("variables.css");

/* Generic styling for button */
.button {
  background: var(--button-primary);
  border: none;
  border-radius: 6px;

  &:hover {
    background: var(--button-secondary);
  }
}
