@import url("variables.css");

/* Generic styling for button */
.button {
  background: var(--button-primary);
  color: var(--text-primary);
  font-weight: bold;
  border: none;
  border-radius: 6px;

  &:hover {
    background: var(--button-secondary);
    color: var(--white);
  }
}
