@import url("fonts.css");
@import url("link.css");

h2 {
  font-size: var(--font-size-25);
  color: var(--menu-primary);
}

p {
  font-size: var(--font-size-15);
}

span {
  font-size: var(--font-size-22);
}

a {
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-600);
}
